<form name="shoppingCartCreditCardForm" method="post" id="shoppingCartCreditCardForm" action="/$siteInfo.contextPath/content/checkout/shoppingCartProcess.do?prefix=$siteInfo.siteDomainPrefix&langName=$siteInfo.langName">
<input type="hidden" name="process" value="updatePayment"/>
<div class="shopping-cart-col1">
  <div class="shopping-cart-col11">
    <span class="shopping-cart-error" id="msg-paymentMessage"></span>
  </div>
</div>
<div class="container-reset"></div>
<div class="shopping-cart-col1">
  <div class="shopping-cart-col">
    <span class="shopping-cart-input-label">$template.getLanguageByValue("Name as it appears on the card")</span>
  </div>
  <div class="shopping-cart-col">
    <input type="text" name="custCreditCardFullName" value="$template.nn($form.getMessage('custCreditCardFullName'))" size="40" class="shopping-cart-input"/>
    <span class="shopping-cart-error"><br>$template.nn($form.getMessage("custCreditCardFullName"))</span>
  </div>
</div>
<div class="container-reset"></div>
<div class="shopping-cart-col1">
  <div class="shopping-cart-col">
    <span class="shopping-cart-input-label">$template.getLanguageByValue("Credit card type")</span>
  </div>
  <div class="shopping-cart-col">
    <select name="creditCardId" class="shopping-cart-input">
      #foreach ($creditCard in $form.creditCards)
        #set selected = ""
		#if ($creditCard.value == $form.creditCardId)
		  #set selected = "selected='selected'"
		#end
		<option value="$creditCard.value" $selected/>$creditCard.label</option>
      #end
    </select>
  </div>
</div>
<div class="container-reset"></div>
<div class="shopping-cart-col1">
  <div class="shopping-cart-col">
    <span class="shopping-cart-input-label">$template.getLanguageByValue("Card number (no spaces)")</span>
  </div>
  <div class="shopping-cart-col">
    <input type="text" name="custCreditCardNum" value="$template.nn($form.getMessage('custCreditCardNum'))" size="20" class="shopping-cart-input"/>
    <span class="shopping-cart-error">$template.nn($form.getMessage("custCreditCardNum"))</span>
  </div>
</div>
<div class="container-reset"></div>
<div class="shopping-cart-col1">
  <div class="shopping-cart-col">
    <span class="shopping-cart-input-label">$template.getLanguageByValue("Expiration date")</span>       
  </div>
  <div class="shopping-cart-col">
    <select name="custCreditCardExpiryMonth" class="shopping-cart-input" style="width: 50px"> 
      #foreach ($expiryMonth in $form.expiryMonths)
        #set selected = ""
	  if ($expiryMonth.value == $form.custCreditCardExpiryMonth)
	   #set selected = "selected='selected'"
	  end
        <option value="$expiryMonth.value" $selected/>$expiryMonth.label</option>
      #end
    </select>
    <select name="custCreditCardExpiryYear" class="shopping-cart-input" style="width: 100px"> 
      #foreach ($expiryYear in $form.expiryYears)
        #set selected = ""
	  if ($expiryYear.value == $form.custCreditCardExpiryYear)
	   #set selected = "selected='selected'"
	  end
        <option value="$expiryYear.value" $selected/>$expiryYear.label</option>
      #end
    </select>  
  </div>
</div>
<div class="container-reset"></div>
<div class="shopping-cart-col1">
  <div class="shopping-cart-col">
    <span class="shopping-cart-input-label">$template.getLanguageByValue("Card code verification number (CCV)")</span>
  </div>
  <div class="shopping-cart-col">
    <input type="text" name="custCreditCardVerNum" value="$template.nn($form.getMessage('custCreditCardVerNum'))" size="10" class="shopping-cart-input"/>  
  </div>
</div>
<div class="container-reset"></div>
<br>
<div class="shopping-cart-col-large">
  <a href="#" onclick="return submitPayment();" class="shopping-cart-button">
    $template.getLanguageByValue("Update and Continue")
  </a>
</div>
</form>
