/**
 * Percents could work for IE, but for backCompat purposes, we are using keywords.
 * x-small is for IE6/7 quirks mode.
 * 
 */

* {font-size: 100%;}
body {font: 0.75em/1.2 helvetica,arial,sans-serif; margin: 12; padding: 0;}

table {font-size:inherit;font:100%;}

/**
 * 99% for safari; 100% is too large
 */
select, input, textarea {font:99% helvetica,arial,clean,sans-serif;}

/**
 * Bump up !IE to get to 12px equivalent
 */
pre, code {font:200% monospace;*font-size:200%;}

/**
 * Default line-height based on font-size rather than "computed-value"
 * see: http://www.w3.org/TR/CSS21/visudet.html#line-height
 */
body * {line-height:1.22em;}

a:link { 
	color: #000000;
	text-decoration: none;
}

a:visited { 
	color: #000000;
	text-decoration: none;
}

a:hover{
	color: #ffbe00;
	text-decoration: none;
}

/**************************************************************************/


.jc_system_header {
	font-size: 1.4em;
	font-weight: bold;
	color: #333333;
	text-decoration: normal;
	white-space: nowrap;
}

/**************************************************************************/

/**
 * Top navigation style
 */
.jc_top_navigation {
  font-weight: bold;
  color: #333333;
  text-decoration: normal;
}
.jc_top_navigation a:link  {
  color: #333333;
  text-decoration: underline;
}
.jc_top_navigation a:visited  {
  color: #333333;
  text-decoration: underline;
}
.jc_top_navigation a:hover  {
  color: #FF0000;
  text-decoration: underline;
}

/**************************************************************************/

/**
 * Panel style
 */
.jc_search_panel_open {
    border-top: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
    border-right: 2px solid #dcdcdc;
	width: 200px;
	background-color: #f4f4ff;
	padding: 5px;
}
.jc_edit_panel_open {
	background-color: #ffffff;
	padding: 5px;
}
.jc_list_panel_open {
	background-color: #ffffff;
	padding: 5px;
}
.jc_panel_table_header {
	background-color: #5c85ad;
    font-weight: bold;
    color: #ffffff;
    text-decoration: normal;
}
.jc_panel_table_sub_header {
	padding: 0px;
	font-size: 1.2em;
    font-weight: bold;
    color: #5c85ad;
    text-decoration: normal;
}
.jc_panel_table_alert_sub_header {
	padding: 0px;
	font-size: 1.2em;
    font-weight: bold;
    color: red;
    text-decoration: normal;
}
hr {
  border:0;
  border-top: 1px solid #999999;
  height: 0;
  background: #999999;
}
/**************************************************************************/

/**
 * Button style
 */
 
input.jc_submit_button {
   color: #ffffff;
   font-weight: normal;
   background-color: #5BB8FD;
   border: 1px solid;
   border-color: #666666;
   filter: progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#0F99FC',EndColorStr='#5BB8FD');
}

a.jc_submit_link:active, a.jc_submit_link:link, a.jc_submit_link:visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
a.jc_submit_link:hover { 
	color: #ffbe00;
	font-weight: normal;
	text-decoration: underline;
}

/**************************************************************************/

/**
 * Input style
 */
 
.jc_input_label_small {
	font-size: 0.8em;
	font-weight: bold;
	color: #333333;
	text-decoration: normal;
	white-space: nowrap;
}
.jc_input_label {
	font-weight: bold;
	color: #333333;
	text-decoration: normal;
	white-space: nowrap;
}
.jc_input_control {
	font-weight: normal;
	color: #333333;
	text-decoration: normal;
}
.jc_input_error {
	font-weight: normal;
	color: red;
	text-decoration: normal;
}
.jc_input_comment {
	font-weight: normal;
	color: blue;
	text-decoration: normal;
}

/**************************************************************************/

/**
 * Listing table style
 */
 
.jc_list_table_header {
  background-color: #f1f1f1;
  font-weight: bold;
  color: #333333;
  text-decoration: normal;
}
.jc_list_table_content {
  font-weight: normal;
  color: #333333;
  text-decoration: normal;
}

/**************************************************************************/

.jc_tab_control {
	border: 1px solid #c4c4be;
	height: 10px;
	width: 100%;
	font-family: arial, helvetica, sans-serif; 
	font-size: 8px; 
	text-align: center;
}
.jc_tab_header {
	padding: 2px;
	background-color: #5c85ad;
	color: #ffffff;
	font-size: 10px;
	font-weight:bold
}
.jc_tab_content_show {
	border: 1px solid #c4c4be;
	padding: 5px;
    display: block;
}
.jc_tab_content_hide {
	border: 1px solid #c4c4be;
	padding: 5px;
	display: none;
}
/**************************************************************************/

.jc_panel_login_table_header {
    background-image: url(/jada/admin/images/background/blue.jpg);
    padding: 0px;
    font-family: "Helvetica", "Geneva", "Swiss", "SunSans-Regular", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: normal;
}





.jc_panel_table_header {
/*
	background-color: #5c85ad;
*/
    background-image: url(/jada/admin/images/background/blue.jpg);
	padding: 0px;
    font-family: "Helvetica", "Geneva", "Swiss", "SunSans-Regular", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: normal;
}

tr.jc_input_table_row {
  height:30px;
}

div.jc_country_state_scroll {
	height: 300px;
	width: 100%;
	overflow: auto;
	border: 1px solid #666;
	background-color: #ffffff;
	padding: 0px;
}

div.jc_image_scroll {
	height: 170px;
	width: 100%;
	overflow: auto;
	border: 0px solid #666;
	background-color: #ffffff;
	padding: 2px;
}

textarea { width:100%; }

.jc_menu_header  {
  width: 200px;                /* specify the size of the menu */
  border-color: #dcdcdc;       /* Only creates border for the top */
  border-width: 1px;
  background-color: #F4F4FF;   /* specify the background color of the menu */
  padding: 5px;            
  font-family: arial, helvetica;
  font-size: 14px;
  color: #333333;              /* sets the default font colour to white */
}

.jc_bordered_table  {
  border-style: solid;
  border-color: #999999;       
  border-width: 1px;
}

td.jc_bordered_table  {
  border-style: solid;
  border-color: #999999;       
  border-width: 1px;
}

.jc_nobordered_table  {
  border-width: 0px;
}

.jc_tabcontent {
  width: 400px 
  font-family: arial; 
  font-size: 12px;
  border-style: solid;
  border-color: #CCCCCC;
  border-width: 1px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.jc_bordered_generic  {
  border-color: #000000;       
  border-width: 1px;
}


.jc_popup_open {
    border-top: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
    border-right: 2px solid #dcdcdc;
	width: 90%;
	height: 200;
	background-color: #f4f4ff;
	padding: 5px;
	overflow: auto;
	position: fixed;
	top: 100;
	display: block;
}

.jc_popup_close {
    border-top: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
    border-right: 2px solid #dcdcdc;
	width: 90%;
	height: 200;
	background-color: #f4f4ff;
	padding: 5px;
	overflow: auto;
	display: none;
}

.jc_shaded_box {	
    border-top: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
    border-right: 2px solid #dcdcdc;
	background-color: #eeeeee;
	padding: 5px;
}

.jc_shaded_alert_box {	
    border-top: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    border-bottom: 2px solid #b7b7b7;
    border-right: 2px solid #b7b7b7;
	background-color: #ffd5d5;
	padding: 5px;
}

.jc_simple_show {
	display: block;
}
	
.jc_simple_hide {
	display: none;
}

/********************************************************************************************************/
